*
{
    box-sizing: border-box;
}
.precio
{
    display: none;
}
img
{
    display: block;
    max-width: 100%;
}
.cuerpo
{
    margin-left: 0;
    margin-right: 0;
}
.header
{
    height: 60px;
}
.header .contenedor
{
    display: flex;
    justify-content: space-between;
    background: white;
}
.icono_menu
{
    display: block;
    width: 30px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;

}
.menu{
list-style: none;
padding:0;
margin:0;
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font:bold;
    background: rgb(91, 162, 255);
    color: whitesmoke;
}
.menu_link:hover
{
    color: rgb(91, 162, 255);
    background: whitesmoke;
}
.mostrar
{
    left: 0;
}
.banner
{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}
.ban_contenedor
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.281) ;
    font-size: 13px;

}
.seccion1
{
 background: whitesmoke;
 flex-wrap: wrap;
 display: flex;
}
.habsen
{
    background: rgba(91, 162, 255, 0.226);
    width: 413px;
    height: 400px;
    border-radius: 2%;
}
.habmar
{
    background: rgba(91, 162, 255, 0.226);
    width: 413px;
    height: 400px;
    border-radius: 2%;
}
.galeria img
{
    width: 400px;
    height: 200px;
    border-radius: 5%;
}
.galeria
{
    margin-left: 0px;
    overflow: hidden;
    border-radius: 5%;
    margin-top: 0px;
}
.galeria ul
{
    display: flex;
    padding: 0px;
    width: 200%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes cambio
{
    0%
    {
        margin-left: 0%;
    }
    50%
    {
        margin-left: 0%;
    }
    75%
    {
        margin-left: -100%;
    }
    100%
    {
        margin-left: -100%;
    }
    
}
.galeria li
{
    list-style: none;
    width: 100%;
}
#Titulo
{
    font-size: 20px;
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 40px;
    padding-top: 5px;
}
#contenidohab
{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    margin-right: 5px;
    text-decoration: none;
    text-align: left;
}
.galeria2 img
{
    width: 400px;
    height: 200px;
    border-radius: 5%;
}
.galeria2
{
    margin-left: 0px;
    overflow: hidden;
    border-radius: 5%;
    margin-top: 0px;
}
.galeria2 ul
{
    display: flex;
    padding: 0px;
    width: 200%;
    animation: cambio2 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
@keyframes cambio2
{
    0%
    {
        margin-left: 0%;
    }
    50%
    {
        margin-left: 0%;
    }
    75%
    {
        margin-left: -100%;
    }
    100%
    {
        margin-left: -100%;
    }
    
}
.galeria2 li
{
    list-style: none;
    width: 100%;
}
.footer
{
    background: rgba(192, 192, 192, 0.507);
    color: black;
    width: 100%;
    display: flex;
}
.contacto
{
    display: inline-block;
    padding-right: 20px;
    
}
.der 
{
    margin-left: 35px;
    font-size: 17px;
}
.cont
{
    display: none;
}
.ver
{
    display: flex;
}
@media (min-width:730px) {
    .ban_contenedor
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: whitesmoke;
        background: rgba(0, 0, 0, 0.281);
        font-size: 25px;
        text-align: center;
    }
    .habsen
    {
        background: rgba(91, 162, 255, 0.226);
        width: 768px;
        height: 500px;
        border-radius: 2%;
    }
    .habdob
    {
        
        width: 768px;
        height: 600px;
        border-radius: 2%;
    }
    .habsu
    {
        
        width: 768px;
        height: 600px;
        border-radius: 2%;
    }
    .habmar
    {
        background: rgba(91, 162, 255, 0.226);
        width: 768px;
        height: 530px;
        border-radius: 2%;
    }
    .galeria img
    {
        width: 100%;
        height: 300px;
        border-radius: 5%;
    }
    .galeria2 img
    {
        width: 100%;
        height: 300px;
        border-radius: 5%;
    }
    .der
    {
        font-size: 20px;
        margin-left: 150px;
        margin-top: 45px;
    }
    .contacto img
    {
        width: 35px;
        height: 35px;
    }
    #Titulo
    {
        font-size: 30px;
        font: bolder;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 40px;
        padding-top: 5px;
    }
    #contenidohab
    {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        margin-right: 5px;
        text-decoration: none;
        text-align: left;
    }
    }
    @media (min-width:1020px) {
        .ban_contenedor
        {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: whitesmoke;
            background: rgba(0, 0, 0, 0.281);
            font-size: 30px;
        }
        .conte
        {
            display: none;
        }
        .logo
        {
            margin-left: 10%;
        }
        .icono_menu
        {
            margin-right: 10%;
        }
        .habsen
        {
            background: rgba(91, 162, 255, 0.226);
            width: 1023px;
            height: 700px;
            border-radius: 2%;
        }
        .habdob
        {
            
            width: 1023px;
            height: 750px;
            border-radius: 2%;
        }
        .habsu
        {
            
            width: 1023px;
            height: 800px;
            border-radius: 2%;
        }
        .habmar
        {
            background: rgba(91, 162, 255, 0.226);
            width: 1023px;
            height: 750px;
            border-radius: 2%;
        }
        .galeria img
        {
            width: 100%;
            height: 300px;
            border-radius: 5%;
        }
        .galeria2 img
        {
            width: 100%;
            height: 300px;
            border-radius: 5%;
        }
        .der
        {
            font-size: 20px;
            margin-left: 150px;
            margin-top: 45px;
        }
        .contacto img
        {
            width: 35px;
            height: 35px;
        }
        #Titulo
        {
            font-size: 30px;
            font: bolder;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 45px;
            padding-top: 5px;
        }
        #contenidohab
        {
            font-size: 25px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-left: 30px;
            margin-right: 5px;
            text-decoration: none;
            text-align: left;
        }
    .cont
    {
    display: flex;
    width: 1023px;
    margin-right: 50px;
    margin-top: 20px;
    }
    .cont img 
    {
        width: 60px;
        height: 60px;
    }
    .precio
    {
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        width: 1024px;
    }
}
@media (min-width:1280px) {
    .ban_contenedor
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: whitesmoke;
        background: rgba(0, 0, 0, 0.281);
        font-size: 35px;
    }
.conte
    {
        display: flex;
        font-size: 25px;
        margin-top: 180px;
        position: absolute;
        width: 350px;
        height: 350px;
        margin-left: 100px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        color: rgba(0, 0, 0, 0.664);
        
    }
.logo
    {
        margin-left: 10%;
    }
.icono_menu
    {
        display: none;
    }
    .menu_nav
{
    position: static;
    top: 80px;
    left: 100px;
    width: auto;
}
.menu
{
    display: flex;
}
.menu_link
{
    background: white;
    color: black;
}
.menu_link:hover
{
    background: rgb(91, 162, 255);
    color: white;
}
.habsen
    {
        background: rgba(255, 192, 203, 0.267);
        width: 600px;
        height: 880px;
        border-radius: 2%;
        border-bottom:  solid 6px white;
        margin-top: 40px;
        margin-left: 50px;
    }
.habdob
    {
        background: rgba(91, 162, 255, 0.226);
        margin-top: 40px;
        margin-left: 50px;
        width: 600px;
        height: 880px;
        border-radius: 2%;
        border-bottom:  solid 6px white;
    }
.habsu
    {
        background: rgba(255, 192, 203, 0.267);
        width: 600px;
        height: 910px;
        border-radius: 2%;
        margin-left: 50px;
        border-bottom:  solid 6px white;
        margin-top: 40px;
        margin-bottom: 100px;
        
    }
    .habmar
    {
        margin-bottom: 100px;
        width: 600px;
        height: 910px;
        border-radius: 2%;
        margin-top: 40px;
        border-bottom:  solid 6px white;
        margin-left: 50px;
    }
    .galeria img
    {
        width: 600px;
        height: 300px;
        border-radius: 5%;
        align-content: center;
    }
    .galeria2 img
    {
        width: 600px;
        height: 300px;
        border-radius: 5%;
        align-items: center;
    }
    .der
    {
        font-size: 20px;
        margin-left: 150px;
        margin-top: 45px;
    }
    .contacto img
    {
        width: 35px;
        height: 35px;
    }
    #Titulo
    {
        font-size: 30px;
        font: bolder;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 45px;
        padding-top: 5px;
    }
    #contenidohab
    {
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        margin-right: 5px;
        text-decoration: none;
        text-align: left;
    }
.cont
{
display: flex;
width: 500px;
margin-top: 20px;
flex-wrap: wrap;
font-size: 20px;
margin-left: 10px;
}
.cont img 
{
    width: 80px;
    height: 80px;
}
.cont p
{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.precio
{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.imagen_banner
{
    width:100%;
    height: 700px;
}
.der
        {
            font-size: 30px;
            margin-left: 450px;
            margin-top: 45px;
        }
.contacto img
        {
            width: 35px;
            height: 35px;
        }
}